[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/dmonllao/moodle-mod_journal.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = https://github.com/danmarsden/moodle-block_attendance.git
[submodule "mod/flashcard"]
	path = mod/flashcard
	url = https://github.com/tmuras/Moodle-Flashcard.git
[submodule "admin/tool/uploadcourse"]
	path = admin/tool/uploadcourse
	url = https://github.com/piersharding/moodle-tool_uploadcourse.git
[submodule "blocks/mrbs"]
	path = blocks/mrbs
	url = https://github.com/arborrow/moodle-block_mrbs.git
[submodule "font-awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "question/behaviour/dfexplicitvaildate"]
	path = question/behaviour/dfexplicitvaildate
	url = https://github.com/maths/moodle-qbehaviour_dfexplicitvaildate.git
[submodule "question/behaviour/dfcbmexplicitvaildate"]
	path = question/behaviour/dfcbmexplicitvaildate
	url = git://github.com/maths/moodle-qbehaviour_dfcbmexplicitvaildate.git
[submodule "question/behaviour/adaptivemultipart"]
	path = question/behaviour/adaptivemultipart
	url = git://github.com/maths/moodle-qbehaviour_adaptivemultipart.git
[submodule "question/type/stack"]
	path = question/type/stack
	url = git://github.com/maths/moodle-qtype_stack.git
[submodule "question/format/stack"]
	path = question/format/stack
	url = git://github.com/maths/moodle-qformat_stack.git
[submodule "mod/brainpop"]
	path = mod/brainpop
	url = https://github.com/brainysmurf/brainpopmoodle.git
[submodule "question/type/ddmarker"]
	path = question/type/ddmarker
	url = https://github.com/moodleou/moodle-qtype_ddmarker.git
[submodule "question/type/ddimageortext"]
	path = question/type/ddimageortext
	url = https://github.com/moodleou/moodle-qtype_ddimageortext.git
[submodule "question/type/gapselect"]
	path = question/type/gapselect
	url = https://github.com/moodleou/moodle-qtype_gapselect.git
[submodule "lib/MathJax"]
	path = lib/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
[submodule "testrepo"]
	path = testrepo
	url = https://github.com/brainysmurf/testrepo.git
[submodule "forked_config_reports"]
	path = blocks/configurable_reports
	url = https://github.com/brainysmurf/moodle-block_configurablereports.git
