[submodule "blocks/configurable_reports"]
	path = blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/dmonllao/moodle-mod_journal.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = https://github.com/danmarsden/moodle-block_attendance.git
[submodule "mod/flashcard"]
	path = mod/flashcard
	url = https://github.com/tmuras/Moodle-Flashcard.git
[submodule "admin/tool/uploadcourse"]
	path = admin/tool/uploadcourse
	url = https://github.com/piersharding/moodle-tool_uploadcourse.git
[submodule "blocks/mrbs"]
	path = blocks/mrbs
	url = https://github.com/arborrow/moodle-block_mrbs.git
[submodule "font-awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "question/behaviour/dfexplicitvaildate"]
	path = question/behaviour/dfexplicitvaildate
	url = https://github.com/maths/moodle-qbehaviour_dfexplicitvaildate.git
[submodule "question/behaviour/dfcbmexplicitvaildate"]
	path = question/behaviour/dfcbmexplicitvaildate
	url = git://github.com/maths/moodle-qbehaviour_dfcbmexplicitvaildate.git
[submodule "question/behaviour/adaptivemultipart"]
	path = question/behaviour/adaptivemultipart
	url = git://github.com/maths/moodle-qbehaviour_adaptivemultipart.git
[submodule "question/type/stack"]
	path = question/type/stack
	url = git://github.com/maths/moodle-qtype_stack.git
[submodule "question/format/stack"]
	path = question/format/stack
	url = git://github.com/maths/moodle-qformat_stack.git
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-courseformat_grid.git
