/**
 * Customized Horizontal CSS Drop-Down Menu for Moodle settings
 *
 * @file		awesomebar.css
 * @version		2013-11-29 14:08
 * @Copyright   GNU GENERAL PUBLIC LICENSE Version 3.0
 */

/* Awesomebar - workings and structure */
#awesomebar { 
	position:fixed;
	width:100%;
	height:31px;
	z-index:999;
	border-bottom: 1px solid #1a1a1a;
	
	/* Prevent text highlighting in menus */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#awesomebar ul#awesomeHomeMenu > li { display:block; }

/* Reset menu styles */
#awesomebar ul,
#awesomebar li {
	list-style:none;
	margin:0;
	padding:0;
}

/* This makes the link fully clickable within the li element */
#awesomebar a {
	display:block;
	line-height:30px;
	width:100%;
	height:100%;
}

/* Buttons across horizontal bar */
#awesomebar > ul > li {
	float:left;
	min-width:fit-content;
}
	#awesomebar > ul > li > a {
		width: auto;
		float: left;
	}

/* The initial dropdowns (from the horizontal bar) */
/* Using .hover (set in javascript) instead of :hover so the showing is delayed */
#awesomebar ul.dropdown > li.hover > ul {
	left:0;
	top:100%;
}

/* All Dropdown menus (from horizontal bar, and submenus of those) */
#awesomebar ul.dropdown ul {
	display:none; /* Hide dropdowns until they need to be shown */
	width:250px;
	z-index:598;
}

/* Menu items */
#awesomebar ul.dropdown li {
	line-height:30px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
}

/* Menu icons */
#awesomebar ul.dropdown i {
	display:inline-block;
	padding-top:1px;
	width:15px;
	line-height:30px;
}





/* Submenus (pop out on right) */
#awesomebar ul.dropdown li > ul {
	position:absolute;
	left:100%;
	top:-1px;
}

#awesomebar ul.dropdown li > ul.openLeft,
#awesomebar ul.dropdown li > ul.openLeft ul {
	left:auto;
	right:100%;
}

/* This makes the dropdown menus appear on hover */
/*#awesomebar ul.dropdown li:hover > ul,*/
#awesomebar ul.dropdown li.hover > ul {
	display:block;
}

#awesomebar li.scroll-btn {
	background-color:rgb(68,68,68) !important;
	text-align:center;
	color:#CCC;
}
	#awesomebar li.scroll-btn i {
		text-align: left;
		position: relative;
		left: -2px;
	}
#awesomebar ul.blurry > li.scroll-btn {
	background-color:rgba(68,68,68,.85) !important;
}

#awesomebar li.scroll-btn:hover {
	cursor:pointer !important;
	background-color:#060606;
}

#awesomebar li.scroll-down {
	box-shadow: inset 0 12px 10px -10px rgba(0, 0, 0, 0.5);
	border-top:none;
}

#awesomebar li.scroll-up {
	box-shadow: inset 0 -12px 10px -10px rgba(0, 0, 0, 0.5);
	border-bottom: 1px #303030 solid;
}

body #dock {top:30px; height:auto; bottom:0px;} /* Start dock at bottom of Awesomebar */

#awesomebar ul.blurry li {
	background:#060606;
}

#awesomebar ul.blurry li a {
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	filter: none;
}
		
#awesomebar ul.blurry > li {
	background:rgba(6,6,6,.85);
}
#awesomebar ul.blurry > li.hover {
	background-color:rgba(153,153,153,.85) !important;
}
#awesomebar ul.blurry > li > a,
#awesomebar ul.blurry > li > a > i,
#awesomebar ul.blurry > li > span,
#awesomebar ul.blurry > li > span > i
{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}





/* !Awesomebar appearance */

#awesomebar a:visited,
#awesomebar a:link {
	color:#EEE;
}


#awesomebar hr { 
	color:#000000;
	background-color:#000000;
	border:1px #000000;
	height:5px;
	padding:0;
	margin:0;
}

#awesomebar,
#awesomebar li {
	background-color:#060606;
	color:#EEE;
}

#awesomebar li {
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

/* Quickly hovering over a menu item */
#awesomebar li:hover {
	background-color:rgb(83,83,83) !important;
	cursor:default;
}

/* Hovering over a menu item for a few seconds (the .hover class gets added by javascript */
#awesomebar li.hover, #awesomebar li.hover:hover {
	background-color:rgb(153,153,153) !important;
	cursor:default;
}
	#awesomebar li.header:hover,
	#awesomebar li.header.hover {
		background-color: #0E0E0E !important;
	}

#awesomebar li {
	border-color:#000000 #505050 #505050 #505050;
	border-style:solid;
	border-width:1px;
}

/* No bottom border for items directly on the awesomebar */
#awesomebar > ul > li {
	border-bottom:none;
}

/* No right border for the last li in the last ul of the awesomebar (across the top) */
#awesomebar > ul:last-child li:last-child {
	border-right:none;
}




/* z-index overrides to prevent other things sitting on top of Awesomebar */
.filepicker-filelist .filepicker-container, .filemanager.fm-noitems .fm-empty-container {z-index:300;}

/* z-index boosts to push overlays above the custom menu (if separate) - but not the Awesomebar */
.user-enroller-panel {z-index:998;}




/* Safari hover on scroll bug fix */
#awesomebar > ul { margin-left:1px; }
#awesomebar > ul > li:first-child { border-left:0; }
#awesomebar ul.dropdown > li.hover > ul { left:-1px; }


/*#awesomebar,
#awesomebar li {
	background-color:#1F1F1F;
	color:#EEE;
}

#awesomebar a:visited,
#awesomebar a:link {
	color:#EEE;
}

#awesomebar a:hover {
	color:#EEE;
}*/




/* When text is used similar to the icons in the awesome */
.icon-text {
	width:auto;
	min-width:15px;
	height:30px;
	position: relative;
	font-size: 8px;
	text-align:center;
	font-weight: bolder;
	text-transform: uppercase;
}

.icon-text.pull-right {
	margin-right:0;
	margin-left:6px !important;
}




/* !Headers */

/* Menu headers */
#awesomebar ul.dropdown li.header {
	font-size: 11px;
	padding: 15px 10px 5px;
	height: auto;
	line-height: normal;
	font-weight: bold;
	background: #0e0e0e;
	background: -moz-linear-gradient(top,  #0e0e0e 87%, #1f1f1f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(87%,#0e0e0e), color-stop(100%,#1f1f1f));
	background: -webkit-linear-gradient(top,  #0e0e0e 87%,#1f1f1f 100%);
	background: -o-linear-gradient(top,  #0e0e0e 87%,#1f1f1f 100%);
	background: -ms-linear-gradient(top,  #0e0e0e 87%,#1f1f1f 100%);
	background: linear-gradient(to bottom,  #0e0e0e 87%,#1f1f1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#1f1f1f',GradientType=0 );
	color: #999;
	border-bottom:none;
}

/* The frst item after a header */
#awesomebar ul.dropdown li.header + li {
	border-top:none;
}

/* Icons in headers */
#awesomebar ul.dropdown li.header i {
	line-height: normal;
	margin-top: 1px;
	font-size: 11px;
	margin-left: 0px;
}