html{background-color:[[setting:backgroundcolor]];}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea{font-family:"Tahoma",Arial, Helvetica, sans-serif;}
.wrapper {margin: 0 25px;}
/* h1,h2,h3,h4,h5,h6,p{text-shadow:0 1px 0 #FFF;} */
p:last-child { margin-bottom:0; }
body input{font-family:"Tahoma",Arial,Helvetica,sans-serif;}
select,input,button,textarea{font-size:0.9em;}
a img {border: none;}
a:active {outline: none;}
.singleselect option {text-align:left;}
	.singleselect select {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
a:link,a:visited {color: #1662A3;}
a:hover,a:active {color: #1662A3;}

.align-center {
	text-align:center;
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}

/* Header
------------------------- */
#page-header{
	float:none;
	background:#1662A3;
	background-position:center right;
	background-repeat: no-repeat;
	border-bottom:1px solid #cbcbcb;
	margin-right:0;
	position:relative;
	min-height:144px;
}

#page-header-wrapper{
	margin:0;
	padding: 49px 30px 53px 48px; /* Vertically center the page title */	
	position: relative;
	z-index: 2;
}

	#page-header-gradient {
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		width:800px;
		background: -moz-linear-gradient(left,  rgba(22,98,163,1) 0%, rgba(22,98,163,0.7) 10%, rgba(22,98,163,0) 33%, rgba(22,98,163,0) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(22,98,163,1)), color-stop(10%,rgba(22,98,163,0.7)), color-stop(33%,rgba(22,98,163,0)), color-stop(100%,rgba(22,98,163,0)));
		background: -webkit-linear-gradient(left,  rgba(22,98,163,1) 0%,rgba(22,98,163,0.7) 10%,rgba(22,98,163,0) 33%,rgba(22,98,163,0) 100%);
		background: -o-linear-gradient(left,  rgba(22,98,163,1) 0%,rgba(22,98,163,0.7) 10%,rgba(22,98,163,0) 33%,rgba(22,98,163,0) 100%);
		background: -ms-linear-gradient(left,  rgba(22,98,163,1) 0%,rgba(22,98,163,0.7) 10%,rgba(22,98,163,0) 33%,rgba(22,98,163,0) 100%);
		background: linear-gradient(to right,  rgba(22,98,163,1) 0%,rgba(22,98,163,0.7) 10%,rgba(22,98,163,0) 33%,rgba(22,98,163,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1662a3', endColorstr='#001662a3',GradientType=1 );
	}

#page-header .sitelogo {float:left;margin:0.75em 0;}
#page-header .headermain{
	float:none;
	margin: 0;
	padding: 0;
	color:#EEE;
	font-size:2.5em;
	font-weight:700;
	letter-spacing:-1px;
	line-height:normal;
}
#page-header .headermenu {width:235px;}
#page-header .headermenu a:hover{color:#C30;}

	/* On frontpage, grow the blue header to be the height of the header + breadcrumbs on normal pages */
	#page-site-index #page-header {
		min-height:176px;
	}
		#page-site-index #page-header-wrapper {
			padding: 61px 30px 64px 48px;  /* Vertically center the page title */
		}
			#page-site-index #page-header-wrapper .headermain{ font-size: 3em; }
			
/* Header Profile
-------------------------- */
#header-profileoptions ul{margin-right:4px;}
#header-profileoptions ul li{display:inline;padding-left:5px;font-size:1.3em;}
.headermenu{font-size:1em;margin:0 10px 0 0;width:225px;}
.loginform_row{padding:0 0 5px;}
/* Profileblock
-----------------------*/
.headermenu div.logininfo{width:140px;height:60px;float:right;border-right:none;margin-top:7px;text-align:center;padding-left:8px;overflow-x:hidden;}
.headermenu img.userpicture{width:58px;height:58px;float:right;border-top:1px solid #eee;border-right:1px solid #dadada;border-bottom:1px solid #ccc;border-left:none;background:#fff;margin-top:10px;margin-left:10px;padding:8px;}
.headermenu div.langmenu {float:right;}
/* Menu Navigation
-------------------------- */
#page-navigation{font-size:1.1em;background-image:url();height:36px;margin:0;padding:0 40px;}
#page-navigation li{list-style:none;float:left;}
#page-navigation a{display:block;padding:5px 10px;}
.navbutton { height:18px; margin-top:4px;}
/* Dock
---------------------------*/
#dock{background-color:#f7f5f1;border-right-color:#433b30;}
#dock .dockeditem_container{margin-top:10px;}
#dock .dockeditem{background-color:#fff;}
#dock .firstdockitem{margin-top:1em;}
#dock .dockeditem .dockedtitle{border-color:#fff #ddd #ddd;}
#dock .dockeditem .dockedtitle.activeitem{background:#f7f5f1;border-top-color:#f7f5f1;}
#dock .firstdockitem .dockedtitle{border-top-color:#ddd;}
#dock .dockeditem .dockedtitle h2{margin:12px 0 12px 7px;}
#dockeditempanel .dockeditempanel_content{border-color:#433b30;}
#dockeditempanel .dockeditempanel_hd{border-bottom:none;background:#eee;text-align:left;padding:3px 5px;}
#dockeditempanel .dockeditempanel_hd h2{color:#333;text-align:left;font-weight:400;font-size:1.25em;padding:0 2px;}
#dockeditempanel .dockeditempanel_hd .commands{float:right;}
/* block expansion code */
.block_js_expansion .block_tree{overflow-x:scroll;}
.block_js_expansion.mouseover .content{width:200%;z-index:1000;position:relative;}
.block_js_expansion.mouseover .content .block_tree{width:100%;background-color:#FAFAFA;padding-bottom:0;}
/** IE stylings */
.ie6 .block .block_tree{width:160px;overflow-x:scroll;}
.ie6 #dock{position:absolute;}
.ie6 #dock hr{display:none;height:0;margin:0;padding:0;}
.ie6 #dock li p{background-color:inherit;}
.ie6 #dock .bd.oversized_content .content,.ie7 #dock .bd.oversized_content .content{padding-bottom:0;}
.ie6 .block_js_expansion.mouseover .content,.ie7 .block_js_expansion.mouseover .content{padding-bottom:2px;}
.ie6 .block_tree .tree_item,.ie6 #dock .bd.oversized_content{width:100%;}

/* Breadcrumb
--------------------------- */
.navbar{
	font-size:.9em;
	background-color:#F0F0F0;
	border-bottom:1px solid #DDD;
	margin:0;
	padding:0 10px 0 0;
}
.navbar .breadcrumb{font-size:1em;padding:6px 10px;}

#coursesearchnavbar label {
	position: relative;
	top: 2px;
}
#coursesearchnavbar #navsearchbox {
	margin-right: 4px;
	position: relative;
	top: 1px;
	height: 14px;
}

.sep{background:url([[pix:theme|breadcrumb_arrow]]) no-repeat scroll 100% 50%;margin-right:5px;padding:0.98em 7px;}
/* Calendar
--------------------------- */
.minicalendar td,.minicalendar th{border-color:#EEE;border-width:0;}
.calendartab th,.calendartable td{border-width:0;}

/* Tabs
--------------------------- */

.tabs {
	padding-bottom:9px;
	border-bottom: 1px solid #DDD;
	margin-bottom:12px !important;
}

.tabs ul {
	list-style:none;
	text-align: center;
	padding:0;
	margin:0;
}
	.tabs ul li {
		padding-left: 1px;
		padding-right: 1px;
		margin-right: 2px;
		margin-bottom: 2px;
		display:inline-block;
	}
		.tabs ul li:last-child {
			margin-right:0;
		}
		.tabs ul li > a,
		.tabs ul li > span {
			background: #F7F7F7;
			margin:0;
			display:inline-block;
			line-height: 16px;
			padding: 7px 20px;
			border: 1px solid #D4D4D4 !important;
			-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
			-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			font-size:13px;
			white-space: nowrap;
			text-align:center;
		}
			
			.tabs ul li > a:hover {
				background: rgb(244,244,244);
				background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(230,230,230,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(230,230,230,1)));
				background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(230,230,230,1) 100%);
				background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(230,230,230,1) 100%);
				background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(230,230,230,1) 100%);
				background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(230,230,230,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d8d8d8',GradientType=0 );
			}
			
			.tabs ul li > span.selected {
				font-weight:normal;
				background:#1662A3;
				font-size:13px;
				color: #FFF;
				border-color: #1662A3 !important;
			}
			
		/* Delete section button */
		.tabs ul li span.selected a.btn {
			display:inline-block;
			font-weight:normal;
			margin: 0 -4px -9px 4px;
			font-size: 11px;
			position: relative;
			top: -6px;
			right:-4px;
			height: 16px;
			line-height: 15px;
			cursor: pointer;
		}
			.tabs .delete_section.hide {
				display: none !important;
			}
		
		
		/* Subtabs */
	
		.tabs ul.additional-tabs {
			margin-top:10px;
		}
	
		.tabs ul.additional-tabs li a,
		.tabs ul.additional-tabs li span {
			font-size:10px;
			padding:5px 6px;
		}
			.tabs ul.additonal-tabs li > span.selected {
				font-size:11px;
			}
		
		/* Moving tabs */
		.tabs ul.ui-sortable a,
		.tabs ul.ui-sortable span {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor: move;
		}
		.tabs ul li.sortable-placeholder {
			border:1px #333 dashed;
			background: #fff;
			visibility: visible !important;
			height:29px !important;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			margin: 0 3px -10px 2px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		#reorderSectionsButton {
			margin-right:5px;
			font-size:11px;
		}
		
		#reorderSectionsAlert .icon-move {
			font-size: 35px;
		}
			#reorderSectionsAlert .small {
				font-size:12px;
			}
		
		a.editsectionbutton {
			font-size:11px;
			color:#999;
			line-height:28px;
		}
			a.editsectionbutton img {
				vertical-align: middle;
				margin: 0;
				position: relative;
				top: -2px;
			}
			

/* User
--------------------------- */
.userinfobox .content{background:url([[pix:theme|gradient-sb]]) repeat-x 0 0;}

/* Content
--------------------------- */

#centerCol,
#side-post {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#centerCol {
	width:75%;
	padding-right:13px;
	float:left;
	/*background:rgba(255,0,0,.2);*/
}
	#centerCol.fullWidth {
		width:auto;
		float:none;
	}
#side-post {
	width:25%;
	padding-left:12px;
	float:left;
	/*background:rgba(0,255,0,.2);*/
}

	.course-content .single-section {
		margin:0;
	}

#page {top:31px;} /*Space for awesomebar at top */
#page-content-wrapper { margin:25px 50px; }
#page-content .region-content { padding:0; }

#region-pre {background:transparent url([[pix:theme|main-divider]]) repeat-y scroll right center;}
#region-post{background:transparent url([[pix:theme|main-divider]]) repeat-y scroll left center;}

.headingblock, h2.headingblock { border:none;margin:0;padding:5px;font-family:"Tahoma", arial, helvetica, sans-serif;}
/* YUI messes with IE unless we go overboard here */
img.iconsmall, .commands a img {height:15px; margin:2px; width:15px; border: 0px solid #808080; padding:1px; -webkit-border-radius:5px;-moz-border-radius: 5px;border-radius:5px; }
img.iconlarge {width:16px;height:16px;margin:6px 4px 2px 4px;} /* Our icons are only 16x16, so we don't want to stretch them */
ul.section .commands
/*, .block_with_controls .commands*/ {position:absolute; top:0px; right:0px;}
.block .content .commands {position:relative;}
ul.section li {clear:right;}
ul.section li div {min-height:23px;}
ul.section li.label div {height: auto;}
ul.section li.label .commands {margin-bottom:2px;}
ul.section li.label {padding-bottom:5px !important;}
.sitetopic .section .activity .availabilityinfo,
.sitetopic .section .activity .contentafterlink,
.course-content .section .activity .availabilityinfo,
.course-content .section .activity .contentafterlink {margin-left:26px;margin-top:0;}
ul.section .activity .contentafterlink p {margin:0 0 1em;}
body.editing ul.section>li {border-bottom: 1px dashed #808080; position:relative;}

.addresourcemodchooser {
	margin: 0 0 10px 0;
}
.bottomaddresourcemodchooser .addresourcemodchooser {
	margin:10px 0 0 0;
}

.addresourcemodchooser a {
	opacity:.9 !important;
	font-size: 13px;
	padding: 4px 7px;
	display:inline-block;
}
	.addresourcemodchooser i { margin-right:4px; }
	
	
/* Make 2.3 activity chooser sit on top of modules in sections */
div.moodle-dialogue-base {position:absolute;top:0;left:0;right:0;z-index:150;}

/* Blocks
--------------------------- */
.block {border-style:none;}

#side-post .block {
	background: #FFF;
	padding: 0;
	margin: 0 0 15px 0;
	border: 1px solid #D4D4D4;
	-webkit-border-radius: 3px;
	-moz-webkit-border-radius: 3px;
	border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.block .calendar-controls .current {width: 74%;}
.block .calendar-controls .previous {background:transparent url([[pix:theme|previous]]) no-repeat left top; height:19px;}
.block .calendar-controls .next {background:transparent url([[pix:theme|next]]) no-repeat right top;}
.block .header{border-color:#EEE;border-width:0 1px;}
.block .header h2 {
	background:#EEE url([[pix:theme|bg-header]]) repeat-x scroll bottom center;
	color:#555;
	font-family:"Tahoma",sans-serif;
	font-size:14px;
	letter-spacing:-0.5px;
	line-height:18px;
	text-shadow:0 1px 0 #DDD;
	padding:7px 12px;
	margin:0;
	text-transform:capitalize;
}

.block .block_action {margin-right:4px;}
.block .header .block_action{ margin: 6px 6px 0 0; }
.block_with_controls .header .title {position:relative;}
.block .commands { 
	clear:both;
	height:auto;
	padding:0;
	top:auto;
	bottom:0px;
}
.block .content{ padding:0; margin:12px; }
	.block.block_html .content .no-overflow { padding:0; }
.block .content .buttons{margin-top:2px;}
.block_login label{font-size:0.85em;display:block;}
.block_login .fld input{width:95%;margin:1px 0 5px;padding:2px;}
.block_login .btn{padding:4px 0;}
.block_login .footer{font-size:0.9em;padding:5px 0 3px;}
.block_calendar_month .content{padding:5px;}
.block_course_summary .content{padding:10px;}

/* Question bank faux-block
--------------------------- */
.decaf_with_edit_buttons.jsenabled .block.questionbankwindow {min-height:auto;}
#page-mod-quiz-edit .block.questionbankwindow div.header {background-color:transparent;}
#page-mod-quiz-edit .block.questionbankwindow div.header a {color:#1D8AC3;font-size:0.9em;}

/* "Edit" buttons to replace groups of icons with menus
------------------------ */
.decaf_persistent_edit.path-course .navbar .navbutton {display:none;}
.decaf_with_edit_buttons.jsenabled .sitetopic .section .activity .activityinstance,
.decaf_with_edit_buttons.jsenabled .course-content .section .activity .activityinstance {padding-right:1.5em;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap {position:relative;width:auto;display:inline;z-index:3;}
.dockeditempanel_hd .decaf-editbutton-wrap {float:right;}
.dockeditempanel_hd .decaf-editbutton-wrap .hidepanelicon {margin-right:4px;}
.decaf_with_edit_buttons.jsenabled.editing ul.section>li {z-index:3;}
.decaf_with_edit_buttons.jsenabled.editing ul.section>li.decaf-editbutton-active-module {z-index:4;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton {opacity:0.4;height:18px;font-size:10px;font-weight:bold;background-color:#C6FFB3;margin: 0;padding: 2px 4px;text-align: center;vertical-align: middle;white-space: nowrap;cursor: default;outline: none;font-family: "Tahoma",arial,sans-serif;color: black;border: 1px solid #BBB;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-top-color: #CCC;border-bottom-color: #A0A0A0;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton:hover,
.decaf_with_edit_buttons.jsenabled .active .decaf-editbutton {opacity:1;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton:active {opacity:1; background-color:#B3FF99;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap.active {z-index:4;}
.decaf_with_edit_buttons.jsenabled.ie8 .decaf-editbutton {background-color:#DFFFD6;color:#999;}
.decaf_with_edit_buttons.jsenabled.ie8 .decaf-editbutton:hover,
.decaf_with_edit_buttons.jsenabled.ie8 .active .decaf-editbutton {background-color:#C6FFB3;color:#000;}
.decaf_with_edit_buttons.jsenabled.ie8 .decaf-editbutton:active {background-color:#B3FF99;}
.decaf_with_edit_buttons.jsenabled .commands,
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .commands,
.decaf_with_edit_buttons.jsenabled .sitetopic .section .activity .commands,
.decaf_with_edit_buttons.jsenabled .course-content .section .activity .commands {display:none;}
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd {padding-bottom:20px;}
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .decaf-editbutton {margin-right:7px;}
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .commands.dock-commands,
.decaf_with_edit_buttons.jsenabled .commands.decaf-noeditbutton {display:block;}
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .commands.dock-commands a img,
.decaf_with_edit_buttons.jsenabled .commands.decaf-noeditbutton a img {border:0px none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;width:12px;height:12px;}
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .hidepanelicon,
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .moveto {margin:3px;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap .commands a {display:block; line-height:14px; font-size:12px; vertical-align:middle; text-align:left;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap .commands a img {clear:left; float:left; margin:1px 4px;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap .commands a span {float:left; padding-top:5px; max-width:120px;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap .commands {float:none !important; left:100%; position:absolute; top:2px; margin-left:4px; background-color:#E1E1E1; border: 1px solid #D1D1D1; width:150px; z-index:600; -moz-box-shadow: 3px 3px 5px #999; -webkit-box-shadow: 3px 3px 5px #999; box-shadow: 3px 3px 5px #999; padding:2px 0;}
.decaf_with_edit_buttons.jsenabled .decaf-editbutton-wrap.active .commands,
.decaf_with_edit_buttons.jsenabled #dockeditempanel .dockeditempanel_hd .decaf-editbutton-wrap.active .commands,
.decaf_with_edit_buttons.jsenabled .sitetopic .section .activity .decaf-editbutton-wrap.active .commands,
.decaf_with_edit_buttons.jsenabled .course-content .section .activity .decaf-editbutton-wrap.active .commands {display:block;}
.decaf_with_edit_buttons.jsenabled .block_with_controls .decaf-editbutton {margin-left:4px;}
.decaf_with_edit_buttons.jsenabled .block_with_controls .commands {height:auto; bottom:auto;}
.decaf_with_edit_buttons.jsenabled .block_with_controls .commands a span {padding-top:3px;}

.block .header .commands {
	text-align: center;
	clear: both;
	float: none;
	position: static;
	margin-top: 2px;
	max-height:17px;
	height:auto;
}
.decaf_with_edit_buttons.jsenabled .block .header .commands .icon img {margin-left:0px; margin-right:4px;}


.decaf_with_edit_buttons.jsenabled .block .header .decaf-editbutton-wrap {z-index:4;}
.decaf_with_edit_buttons.jsenabled .block {min-height:125px;}
.decaf_with_edit_buttons.jsenabled .block .commands {display:none;}
.decaf_with_edit_buttons.jsenabled #page-content #region-main,
.decaf_with_edit_buttons.jsenabled #page-content .region-content {overflow:visible;}
.decaf_with_edit_buttons.jsenabled #page-content {padding-bottom:70px;}
.decaf_with_edit_buttons.jsenabled.editing ul.section>li {border-bottom:none;}
.decaf_with_edit_buttons.jsenabled .block_with_controls .header .title {padding-bottom:4px;}
.decaf_with_edit_buttons.jsenabled .forumpost .commands {display:block;}
.decaf_with_edit_buttons.jsenabled div.eventlist table.event div.commands {position:absolute; float:none; top:0;}
.decaf_with_edit_buttons.jsenabled.path-mod-glossary .glossarypost .entrylowersection .icons {text-align:left;} /* Put the edit button back on the left for glossary items */
#page-mod-assignment-submissions.decaf_with_edit_buttons.jsenabled .header .commands,
#page-mod-lti-submissions.decaf_with_edit_buttons.jsenabled .header .commands,
#page-mod-quiz-report.decaf_with_edit_buttons.jsenabled .header .commands {display:none;}
#page-mod-assignment-submissions.decaf_with_edit_buttons.jsenabled th.header .commands,
#page-mod-lti-submissions.decaf_with_edit_buttons.jsenabled th.header .commands,
#page-mod-quiz-report.decaf_with_edit_buttons.jsenabled th.header .commands {display:inline;}
.decaf_with_edit_buttons.jsenabled ul.section>li>.dimmed_text,
.decaf_with_edit_buttons.jsenabled ul.section>li>.dimmed_text .commands a  {opacity:1;} /* Don't allow the entire div to be "dimmed" - only the link inside it */
.decaf_with_edit_buttons.jsenabled .block .content .buttons {text-align:left; position:relative;}

/*YUI Reset */
.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle{background-position:3px center;}
.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle{background-position:0 50%;}
.yui3-skin-sam #page .yui3-menu-label,.yui3-skin-sam #page .yui3-menuitem-content{color:#35251B;font-weight:400;}
.custom_menu_submenu .yui3-menu-label,.custom_menu_submenu .yui3-menuitem-content{color:#35251B !important;}
.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-active,.yui3-skin-sam #page .yui3-menuitem-active .yui3-menuitem-content{color:#DA5013;}
.yui3-skin-sam #page .yui3-menu-content,.yui3-skin-sam #page .yui3-menu-content,.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-content{border:none;}
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label,.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content{border-color:gray;border-style:solid;border-width:0;}
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-content,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-active,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-menuvisible{background-position:-10000px -10000px;}
.yui3-skin-sam #page .yui3-menu-label,.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-label,.yui3-skin-sam #page .yui3-menubuttonnav .yui3-menu-label em{background-position:right center;}

/* Forms
------------------------ */
.mform fieldset{border-color:#ddd;}
.mform legend{border:1px solid #ddd;background:url([[pix:theme|gradient-sb]]) repeat-x 0 -25%;padding:2px 7px;}
.mform .fitem .felement { margin-left: 31%; margin-right: 0px; width: 68%;}
.mform .fitem fieldset.felement{float:left; margin-left:0;}
.mform .fitem .fitemtitle{width:30%;}

.mform .felement.fsubmit {
	margin:0 auto !important;
}

.form-input {text-align:left;}

	/* Login Form */
	
	.loginpanel {
		width:75%;
		max-width:500px;
		margin:auto;
	}
		.login-reminder {
			margin:0 auto 0;
			min-height:50px;
			line-height: 22px;
			padding: 15px;
			background-color:#fff;
			border-top: 2px solid #1662A3; 
			border-bottom: 2px solid #1662A3;
		}
			.login-reminder icon { margin-top: -4px; }
	
	.loginerrors {
		text-align: center;
		padding: 10px 0 0 0;
		color: #A00;
	}
		
	.loginform-input-row {
		padding: 0 0 0 25px;
		position: relative;
		margin:15px 0;
	}
	
		/* form icons */
		.loginform-input-row icon {
			position: absolute;
			top: 14px;
			left: 2px;
		}
	
		/* Username & Password */
		.loginform input[type=text],
		.loginform input[type=password],
		.loginform input[type=submit],
		.loginform button {
			display:block;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			border:1px #666 solid;
			font-size:16px;
			line-height:1.5em;
			padding:10px;
			width:100%;			
			/* to have 100% width with padding */
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
		}
		
		.loginform input[type=submit],
		.loginform button {
			cursor:pointer;
		}
		
	.loginform-remember-row {
		margin:15px 0;
		text-align:center;
	}
	
	.loginform #login-guest,
	.loginform #login-forgotten {
		margin-top:30px;
		text-align:center;
		width:50%;
		/* to have % width with padding */
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	
		.loginform h4 {
			font-size:12px;
			font-weight:bold;
			min-height:30px;
		}
	
	.loginform #login-guest {
		float:left;
		padding-right:10px;
	}
		.loginform #login-guest p {
			margin:5px 0 0 0;
			font-size:12px;
		}
	
	.loginform #login-forgotten {
		float:right;
		padding-left:10px;
	}
	


/* Footer
-------------------------- */
#page-footer { 
	padding:15px;
	margin:15px 0 0 0;
	font-size:12px;
	color:#BDBDBD;
	background-color: #EEE;
	float:none;
	width:auto;
}
	#page-footer a {
		color:#BDBDBD;
	}
	#page-footer p {
		text-shadow:none;
		margin: 0 0 7px 0;
	}
		#page-footer p:last-child { margin-bottom:0; }
		
#page-footer .logininfo{margin:1em 0;}

#back-to-top {
	position: fixed;
	bottom: 14px;
	right: 25px;
	text-align: center;
	cursor: pointer;
	opacity: .5;
	filter:alpha(opacity=50);
	display:none;
}
#back-to-top a.arrow {
	padding: 5px 10px;
	font-size: 36px;
	color: #1662A3;
	background: #EEE;
	border: 1px solid #CCC;
	border-bottom: 1px solid #AAA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#back-to-top a.text {display: block;background: white;visibility: hidden;position: relative;top: 10px;}
#back-to-top a {text-decoration: none;border: 0;outline: none;}
/* PerformanceInfo
-------------------------- */
#page-footer .performanceinfo{-moz-border-radius-topleft:15px;-moz-border-radius-topright:15px;-webkit-border-top-left-radius:15px 15px;-webkit-border-top-right-radius:15px 15px;border-radius:15px 15px 0 0;bottom:0;left:-290px !important;position:fixed;background-color:#222;width:580px !important;border-width:12px 12px medium;margin:0 50% !important;z-index:400;}
#page-footer .performanceinfo ul {text-align: center; margin: 0 auto;}
#page-footer .performanceinfo li{display:block;list-style-type:none;float:left;padding:5px 0;width:25%;}
#page-footer .performanceinfo li var{font-size:1.3em;font-weight:700;}
#page-footer .performanceinfo .green{color:#588E13 !important;}
#page-footer .performanceinfo .blue{color:#3769A0 !important;}
#page-footer .performanceinfo .purple{color:#953FA1 !important;}
#page-footer .performanceinfo .orange{color:#D28C00 !important;}
#page-footer .performanceinfo .red{color:#B72F09 !important;}
#page-footer .performanceinfo .white{color:#FFF !important;}
#page-footer .performanceinfo span{color:#fff;}

/* Course
---------------------------*/
.course-content ul.topics li.section .left{display:none;padding-left:0px;font-size:2em;}
.course-content ul.topics li.section{background:transparent url([[pix:theme|topic-bg-bottom]]) repeat-x scroll bottom center;margin:0 0 30px;padding:0 0 30px; clear:both;}
.course-content ul.weeks li.section{background:transparent url([[pix:theme|topic-bg-bottom]]) repeat-x scroll bottom center;margin:0;padding:0 0 30px;}

	.course-content ul.topics li.section .right,
	.course-content ul.weeks li.section .right {
		width:auto;
		margin:0;
		padding:0;
	}
		.course-content ul.weeks li.section .right {
			margin: 10px 0 0 0;
		}
		
		.course-content ul.topics li.section .right a,
		.course-content ul.weeks li.section .right a {
			margin:0 5px;
		}

	.course-content ul.topics li.section .content {
		clear:both;
	}
.section-navigation.headingblock span.mdl-left, .section-navigation.headingblock span.mdl-right {font-size:0.7em;margin-top:0.3em;}

.dir-ltr .section-navigation span.mdl-left a:before { content: '\00AB';
font-size: 11px;
position: relative;
top: -1px;
margin-right: 3px; }
.dir-ltr .section-navigation span.mdl-right a:after {  content: '\00BB';
font-size: 11px;
position: relative;
top: -1px;
margin-left: 2px; }

.section-navigation {
	height: 25px;
	padding:0 !important;
	overflow: visible;
	margin-bottom:0 !important;
}
.section-navigation a {
	font-size:13px;
	padding: 4px 12px;
}


.course-content .section li.activity {
	padding-left:0;
}

.course-content .section .activity img.activityicon {
	margin-left:0;
}

#intro, #pageintro { background:#f7f7f7; }

/* Forum
---------------------------*/
.path-mod-forum .forumheaderlist th {background: url([[pix:theme|gradient-sb]]) repeat-x 0 0}
.path-mod-forum .forumheaderlist .r1 td { background:#f5f5f5; }
.forumpost .topic { background:#eee;border-color:#aaa;border-width:0 0 2px 0;padding-left:7px; }
.forumpost .topic .subject { font-size:1.25em; }
.forumpost .topic .author { font-style:italic;color:#444;font-size:0.95em; }
.forumpost .content { border-bottom:5px solid #aaa;padding:5px 7px 10px 7px; }

/* Assignments
--------------------------*/
.path-mod-assignment #dates table .c0 { background:#f5f5f5; }
#page-mod-assignment-submissions #region-main .header .commands a img {height:11px; width:11px; border:0px none; padding:0;}


/* Folder
--------------------------*/
#page-mod-folder-edit .foldertree { width: 95% }

/* Event list
--------------------------*/
div.eventlist table.event div.commands {position:relative; float:right; top:auto; right:auto;}

/* Glossaries
--------------------------*/
table.glossarypost {
	border-bottom: 1px solid #DDD;
}

/* Reports
--------------------------*/
body.pagelayout-report #page-content {
	overflow:hidden;
}
body.pagelayout-report #page-content #region-main .region-content {
	overflow-x:auto;
}

/* Quiz ordering/paging tool
--------------------------*/
#page-mod-quiz-edit div.question div.content div.qorder {right:60px;}
#page-mod-quiz-edit div.question div.content div.questioncontrols {width:65px;}

/* Question bank
--------------------------*/
table#categoryquestions .iconcol {width:21px;}
body#page-question-category.decaf_with_edit_buttons.jsenabled div.box.questioncategories .commands > img.iconsmall {display:none;}

.local-alert,
.global-alert,
.dnet-row {
    margin-left:100px;
    margin-right:100px;
    margin-bottom:10px;
    padding: 15px 20px;
    background-color: #fff;
    border-top: 2px solid #1662A3; 
    border-bottom: 2px solid #1662A3;
}
	.section .local-alert {
		margin-top:10px;
	}

	.global-alert.clipboard {
		margin:0 100px 25px;
	}

	.dnet-row-left {font-weight:bold;}

h4.advice {
	font-size:12px;
	margin:5px;
	font-weight:normal;
}

	/* User Directory */

.userinfobox {
	background: #F6F6F6;
	border: 1px solid #D4D4D4;
	-webkit-border-radius: 3px;
	-moz-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.userinfobox .username {
    padding: 8px;
    font-size: 16px;
}

table.userinfotable,
table.styledtable {
    border-spacing:2px;
    border-collapse:separate;
    margin: 0;
    width: 100%;
}

table.userinfotable td,
table.styledtable td {
    font-size:13px;
    background:rgba(255,255,255,.6);
}

table.userinfotable tr.r0 td,
table.styledtable tr.r0 td {
	background:rgba(50,50,50,.02);
}
table.userinfotable tr.r1 td,
table.styledtable tr.r1 td {
	background:rgba(50,50,50,.04);
}

table.userinfotable td:first-child,
table.styledtable td:first-child {
    width:200px;
    text-align: right;
    font-weight:bold;
    background:rgba(200,200,200,.6) !important;
}

table.userinfotable tr:hover td,
table.styledtable tr:hover td {
	background:rgba(50,50,50,.06);
}


.userinfobox .links button {
    display: block;
    width: 100%;
    margin-bottom:3px;
}

.userinfobox .links button a {
    padding: 3px;
    text-align: center;
}

	.directorysearchform {
		text-align:center;
	}
		.directorysearchform input,
		.directorysearchform select {
			margin:0 5px;
		}
			.directorysearchform input[type=text] {
				padding: 1px 2px;
				position: relative;
				top: 1px;
			}


/* htmltable module */
.userinfotable.htmltable p {
	margin:0 !important;
}

#htmltable_edittable_buttons {
	text-align:center;
	margin:10px;
}
	#htmltable_edittable_buttons:first-child {
		margin-top:0;
	}
	#htmltable_edittable_buttons:last-child {
		margin-bottom:0;
	}


	#htmltable_edittable th {
		vertical-align: bottom;
	}

	#htmltable_edittable input[type=text],
	#htmltable_edittable textarea {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		padding:3px;
		text-align:left;
	}
		#htmltable_edittable th input[type=text] {
			font-weight:bold;
			text-align:center;
		}


		/*Make space for minus button */
		#htmltable_edittable td:first-child {
			padding-left:40px;
			position: relative;
		}
			.htmltable_removecol_button button {
				margin-bottom:5px;
			}
		
		#htmltable_edittable td:first-child button {		
			position: absolute;
			top: 6px;
			left: 5px;
		}
			#htmltable_edittable tr:last-child {		
				padding-left:3px;
			}
			#htmltable_edittable tr:last-child td:first-child button {		
				position: static;
			}
		#htmltable_edittable td:first-child input[type=text] {
			text-align:right;
		}

/* end htmltable module */

.activity-one {
color: #333;
}

h2.noAccess {
	text-align:center;
	font-size:18px;
	margin:20px 0 30px;
	font-weight:bold;
	color: #A00;
}
	h2.noAccess a {
		color: #A00;
		text-decoration: underline;
	}

.coursebox:last-child {
	border-bottom:0;
}
.coursebox>.info>.name {
	width:auto;
	float:none;	
}
.coursebox .content .summary {
	width:auto;
	float:none;
}

.generalbox,
.mform > fieldset {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:10px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	margin-top:15px
}

	.errorbox {
		text-align:center;
		color: #A00;
		border-color:#A00;
	}
		.errorbox a {
			color: #A00;
			font-weight:bold;	
		}
		/* Add fontawesome alert icon to errorboxes*/
		.errorbox:before {
			font-family: FontAwesome;
			content: "\f071";
			margin-right:5px;
		}
		
	.successbox {
		text-align:center;
		color:#048804;
		border-color:#048804;
	}
		/* Add fontawesome alert icon to errorboxes*/
		.successbox:before {
			font-family: FontAwesome;
			content: "\f058";
			margin-right:5px;
		}
		
	.generalbox .errorbox,
	.mform > fieldset .errorbox,
	.generalbox .successbox,
	.mform > fieldset .successbox {
		border:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
		
	.helptext {
		font-size:12px;
		text-align:center;
		margin:10px !important;
		color:#888;
	}
		.helptext:before {
			font-family: FontAwesome;
			content: "\f129";
			margin-right:5px;
		}

	span.grey,
	span.red,
	span.green {
		font-size:12px;
	}
		span.grey { color:#888; }
		span.red { color:#A00; }
		span.green { color:#048804; }

	#intro.generalbox {
		padding: 10px;
	}
	
	.generalbox.inset {
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
		background: #e9ecf3;
	}

	.mform > fieldset .ftoggler {
		background: #fff;
	}
	.generalbox > :last-child { 
		margin-bottom:0;
	}
	
	.sitetopic {
		background:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	
	/* Icons page */
	ul.iconList {
		list-style:none;
		margin:0;
		padding:0;
	}
		ul.iconList li {
			float:left;
			width:32%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin-right:1%;
			margin-bottom:3px;
			display:block;
			font-size:15px;
			background:rgba(255,255,255,0.5);
			padding:5px 10px;
		}
			ul.iconList li:nth-child(even) {
				background:rgba(255,255,255,0.75);
			}
		ul.iconList li i {
			vertical-align: middle;
			margin-right:5px;
		}
		

	.boxwidthwide {
		width:auto;
	}
	
	.template_heading {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 12px;
	}
	
	/* Pagination */
	.paging {
		text-align:center;
		font-weight:bold;
		margin:0 0 15px 0;
	}
		.paging > span {
			position: relative;
			top: 1px;
			margin-right: 5px;
		}
		.paging .btn { 
			font-weight:normal;
			margin:0 1px;
			font-size:13px;
			border: 0px;
		}
		.paging .btn.selected {
			background:#1662A3;
			color: #fff;
		}

	/* Grid course format tweaks */
	
	#gridiconcontainer {
		padding:0;
	}
	
	/* Button list */
	ul.gridformatbuttons.buttons {
		max-width:none;
	}
		
		/* Button list items */
		ul.gridformatbuttons.buttons li {
			margin:0 !important;
			width:25% !important;
			padding:5px !important;
			background:none !important;
			opacity:1 !important;
		}
			
			/* Button links (the actual buttons) */
			ul.gridformatbuttons.buttons a.btn {
				position: relative;
				height:142px;
				white-space: normal;
				padding:0;
			}
				/* Button label */
				ul.gridformatbuttons.buttons a.btn span {
					white-space: normal !important;
					position: absolute;
					bottom:0;
					left:0;
					right:0;
					opacity:.9;
					display:block;
					padding: 23px 10px 10px;
					font-size:14px;
					line-height: 22px;
				}
					ul.gridformatbuttons.buttons .btn:hover span {
						opacity:1;
					}
			
				/* Buttons with images */
				ul.gridformatbuttons a.btn.hasIcon {
					background-size:cover !important;
				}
				
					/* Labels gradient */
					ul.gridformatbuttons .btn.hasIcon span {
						color:#fff;
						background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.8) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8)));
						background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 100%);
						background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 100%);
						background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 100%);
						background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
					}
					
					ul.gridformatbuttons .btn.noIcon span {
						color:#fff;
						background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.4) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4)));
						background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 100%);
						background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 100%);
						background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 100%);
						background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
					}
					
				ul.gridformatbuttons .editbuttons,
				ul.gridformatbuttons .editbuttons a {
					text-align:center;
					font-size: 11px;
					color:#999;
				}
					ul.gridformatbuttons .editbuttons a:hover {
						color:#888;
					}
			
	.icon-red {
		color:#A00;
	}
	
/* Christmas */
#awesomebar {
	z-index:99999999 !important;
}

a:link,
a:visited,
a:hover,
a:active
{
	color:#23811F;
}

ul.buttons a.btn
{
	color:#23811F !important;
}

#page-header
{
	background-color:#23811F;
}

#page-header-gradient {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	width:800px;
	background: -moz-linear-gradient(left,  rgba(35,129,31,1) 0%, rgba(35,129,31,0.7) 10%, rgba(35,129,31,0) 33%, rgba(35,129,31,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(35,129,31,1)), color-stop(10%,rgba(35,129,31,0.7)), color-stop(33%,rgba(35,129,31,0)), color-stop(100%,rgba(35,129,31,0)));
	background: -webkit-linear-gradient(left,  rgba(35,129,31,1) 0%,rgba(35,129,31,0.7) 10%,rgba(35,129,31,0) 33%,rgba(35,129,31,0) 100%);
	background: -o-linear-gradient(left,  rgba(35,129,31,1) 0%,rgba(35,129,31,0.7) 10%,rgba(35,129,31,0) 33%,rgba(35,129,31,0) 100%);
	background: -ms-linear-gradient(left,  rgba(35,129,31,1) 0%,rgba(35,129,31,0.7) 10%,rgba(35,129,31,0) 33%,rgba(35,129,31,0) 100%);
	background: linear-gradient(to right,  rgba(35,129,31,1) 0%,rgba(35,129,31,0.7) 10%,rgba(35,129,31,0) 33%,rgba(35,129,31,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1662a3', endColorstr='#001662a3',GradientType=1 );
}

/** Custom CSS **/
[[setting:customcss]]

