* https://moodle.org/plugins/view.php?plugin=mod_etherpad
# https://moodle.org/plugins/view.php?plugin=mod_lightboxgallery
# https://github.com/remotelearner/moodle-mod_questionnaire
# http://sourceforge.net/projects/mrbs/
etherpad
lightboxgallery
questionnaire
mrbs
turnitintool

